  <!-- Page Content -->
  <div class="container">

    <!-- /.col -->
    <div class="col">

      <div class="row">
        <div class="col-lg-3  mb-4" *ngFor="let game of _jackpots">
          <div class="card img-hover-zoom">
            <span class="game-name">{{game.name}}</span>
            <img src="assets/images/NEW.png" alt="image of new game ribbon">
               <img *ngIf="game.categories.indexOf('new') !== -1" src="assets/images/NEW.png"
                 alt="image of new game ribbon">
            <a href="#"><img class="card-img-top" [src]="game.image" alt="image of game"></a>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.container -->
